body{
  font-family: 'Montserrat', san-sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 900;

}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Container Section */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;

}

.white-section {
  background-color: white;

}

/* Headings */

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;

}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}



/* Navigation Bar */

.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 3rem;
}

.nav-item{
  padding: 0 18px;
}

.navbar{
  padding-bottom: 4.5rem;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: light;
}

/* Download Button */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */

.iphone-container {
  position: relative;
}

.title-image{
  transform: rotate(16deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px){
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
  }

}


/* Feature Section */

#features{
  position: relative;

}

.fas{
  padding: 0 0 1rem;
  color: #ef8172;
}

.fas:hover{
  color: #ff4c68;
}


.feature-title {
  font-size: 1.5rem;
  padding: 1% 0;
}


/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
  position: relative;
}

.testimonial-text {
 font-size: 3rem;
 line-height: 1.5;
}


.carousel-item{
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */


.card {
  height: 100%;
}

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}


.price-text {
  font-size: 3rem;
  line-height: 1.5;
}


/* CTA Section */



/* Footer Section */

#footer {

}

.footer-icon {
  padding: 20px 20px;
  color: black;
}

.footer-icon:hover {
  color: #ff4c68;
}
